{% load static %}
<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Testapp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="{% static 'styles.31d6cfe0d16ae931b73c.css'%}"></head>
<body>
  <app-root>Loading....</app-root>
<script src="{%static 'runtime.f996ccad1d811df5b0fb.js'%}" defer></script>
<script src="{%static 'polyfills.ba943416a663d45b5d96.js'%}" defer></script>
<script src="{%static 'main.f50f361869958c283055.js'%}" defer></script>

</body></html>
